.header-menu-section {
  position: absolute;
  top: ($header-height - 12px);
  right: 0;
  margin-right: -#{$gutter + $sm-margin};
  background-color: rgba($color: $white, $alpha: 0.7);
  transform: translate3d(150px, 0, 0);
  transition: transform 300ms ease-in-out;

  &.is-open {
    transform: translate3d(0, 0, 0);
  }

  .menu-list {
    @include column-flexbox(start);
    align-items: flex-start;
    width: 150px;
    height: 100vh;
    
    
    .menu-item {
      @include flexbox();
      align-items: flex-end;
      align-self: flex-end;
      height: 44px;
      padding-right: 30px;

      &:active {
        opacity: 0.4;
      }

      button {
        &::selection {
          background-color: $border;
        }
      }
    }
  }

  @include responsive('T') {
    display: block;
    position: static;
    width: 100%;
    margin: auto;
    transform: translate3d(0, 0, 0);

    .menu-list {
      flex-direction: row;
      width: 100%;
      height: auto;
      padding-top: 0;
      
      .menu-item {
        align-items: center;
        padding: 0;
        padding-right: 20px;

        &:hover {
          opacity: 0.4;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }  
}
