.header-menu-section {
  display: none;
  position: absolute;
  top: -#{$header-menu-size};
  right: 0;
  margin-right: -#{$gutter + $sm-margin};
  background-color: rgba($color: $white, $alpha: 0.7);
  border-radius: 4px;

  &.is-open {
    display: block;
  }

  .menu-list {
    @include column-flexbox(start);
    align-items: flex-start;
    width: 150px;
    height: 100vh;
    padding-top: $header-height;
    
    .menu-item {
      @include flexbox();
      align-items: flex-end;
      align-self: flex-end;
      height: 44px;
      padding-right: 30px;

      &:active {
        opacity: 0.4;
      }

      button {
        &::selection {
          background-color: $border;
        }
      }
    }
  }

  @include responsive('T') {
    display: block;
    position: static;
    width: 100%;
    margin: auto;

    .menu-list {
      flex-direction: row;
      width: 100%;
      height: auto;
      padding-top: 0;
      
      .menu-item {
        align-items: center;
        padding: 0;
        padding-right: 20px;

        &:hover {
          opacity: 0.4;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }  
}
