.message {
  $popup-shadow: 0 4px 20px rgba(63, 65, 80, 0.3);

  @include column-flexbox;
  width: 100%;
  height: auto;
  padding-top: 50px;

  &-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-box {
    @include dragunable;
    position: relative;
  }
  
  &-group {
    @include column-flexbox;
    position: relative;
    transition: transform 200ms ease-in-out;
    border: transparent;
    overflow: hidden;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: $popup-shadow;
    background-color: #fff;
    z-index: 1;

    &:active,
    &:hover {
      transform: translateY(-30%);
    }
  }

  &-title {
    text-align: center;
    padding-bottom: 20px;
  }

  &-description {
    display: block;

    span {
      font-size: 20px;
      font-weight: 400;
    }
  }

  &-hidden {
    @include flexbox;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &-description {
      span {
        font-size: 36px;
        font-weight: 500;
        color: rgb(157, 157, 157);
      }
    }
  }

  &-arrow {
    padding-top: 10px;
    i {
      opacity: 0.5;
    }
  }

  @include responsive(T) {
    padding-top: 180px;
  }
}
