.project-section {  
  @include flexbox();
  padding: ($header-height + 20px) 20px $header-height;

  .project {
    margin-right: auto;

    &-cards {
      
      .card-wrapper {
        @include column-flexbox(center, start);
      }

      h1 {
        font-size: 28px;
        font-family: $font-header;
        margin-bottom: 8px;
      }

      .card-kind {
        margin-bottom: 20px;

        h2 {
          font-size: 15px;
          margin-bottom: 4px;
        }

        .card-content {
          @include dragunable();
          @include flexbox(flex-start, flex-start);
          flex-direction: column;
          margin-top: 15px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, .3);
          transition: background-color 400ms ease-in-out;
          overflow: hidden;

          &-img {

            img {
              display: block;
              width: 100%;
              object-fit: cover;
            }
          }

          &-desc {
            @include flexbox(flex-start, stretch);
            flex-direction: column;
            width: 100%;
            padding: 20px 15px;
            background-color: $neumor;
          }

          .wrapper {
            @include flexbox();

            h3 {
              font-weight: 600;
              margin-bottom: 10px;
              margin-right: auto;
  
              &::selection {
                background-color: $border;
              }
            }

            i {
              margin-right: 10px;
  
              &:last-child {
                margin-right: 0;
              }
            }
          }

          .package {
            font-size: 14px;
            color: $blue-dark;
          }

          .link {
            @include flexbox(flex-start, center);
            margin-top: 20px;
            color: $primary;

            i {
              font-size: 16px;
              margin-right: 5px;
            }

            p {
              @include line-clamp(1);
              font-size: 12px;
            }
          }

          &:hover {
            background-color: $black;
          }
        }
      }
    }
  }

  @include responsive('T') {
    .project {

      &-cards {
        h1 {
          font-size: 35px;
          margin-bottom: 10px;
        }

        .card-kind {
          margin-bottom: 30px;

          h2 {
            font-size: 19px;
          }

          .card-content {
            width: 650px;
            font-size: 18px;
            flex-direction: row;

            &-img {
              
              img {
                width: 250px;
              }
            }

            &-desc {
              padding: 20px;
            }

            .link {
              margin-top: auto;
            }
          }
          
        }
      }
    }
  }
}
