.work-section {
  @include flexbox();
  padding: ($header-height + 20px) 20px $header-height;

  .work {
    margin-right: auto;

    &-storys {
      h1 {
        font-size: 28px;
        font-family: $font-header;
        margin-bottom: 8px;
      }

      .story-kind {
        margin-bottom: 24px;

        h2 {
          font-size: 15px;
          margin-bottom: 4px;
        }

        ul {
          margin-bottom: 10px;

          p {
            font-size: 14px;
            line-height: 30px;
          }

          li {
            font-size: 14px;
            text-indent: 10px;
            line-height: 22px;
            color: $secondary;

            &::selection {
              background-color: $border;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @include responsive('T') {

    .work {

      &-storys {
        h1 {
          font-size: 35px;
          margin-bottom: 10px;
        }

        .story-kind {
          margin-bottom: 30px;

          h2 {
            font-size: 19px;
          }

          ul {
            margin-bottom: 20px;
            
            li {
              font-size: 16px;
            }

            p {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
